// Variables de color
$color-principal: #fff;
$color-opcion: #f9e7f2;
$color-texto: #000;
$color-primary: #d854a5;
$color-view360: #b6efec;

.publications {
  padding: 2rem;
  margin-bottom: 3rem;
}

.publicaciones-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: $color-principal;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.3s ease;

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    padding: 20px;

    .card-title {
      color: $color-texto;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .card-text {
      color: $color-texto;
      margin-bottom: 15px;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      color: $color-texto;

      .tipo,
      .ubicacion,
      .precio {
        flex: 1;
      }

      .ubicacion {
        margin-left: 20px;
      }

      .precio {
        margin-left: 20px;
        text-align: right;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      .btn {
        flex: 1;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.8;
        }
      }

      .btn-primary {
        background-color: $color-primary;
        color: #fff;
      }

      .btn-secondary {
        background-color: $color-view360;
        color: $color-texto;
        margin-left: 20px;
      }
    }
  }
}

.card.hidden {
  opacity: 0;
  pointer-events: none; // Evita que los elementos ocultos sean interactivos
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor alpha para cambiar la opacidad */
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  font-size: 26px;
  text-align: center;
  background: #fff;
  border-radius: 25px;
  cursor: pointer;
}
