<div class="container">
  <h1 class="p-3">Easy Home</h1>

  <div class="container-section">
     <!-- Lado Izquierdo -->
    <div class="left-column">
      <h2>¡Vive en la Casa de tus Sueños!</h2>
      <p>Descubre EasyHome, la plataforma inmobiliaria que te acerca a la casa de tus sueños de una manera inmersiva y
        emocionante. Explora propiedades en 360 grados con nuestro innovador recorrido en realidad virtual y sumérgete en
        cada detalle. Encuentra la propiedad perfecta que se ajuste a tus necesidades y deseos. ¡Haz realidad tus sueños de
        hogar con EasyHome!</p>
      <button class="btn float-left">¡Quiero saber más!</button>
    </div>
    <!-- Lado Derecho -->
    <div class="right-column">
      <img src="/assets/section1.PNG" alt="Imagen">
    </div>
  </div>

  <section class="section-blocks blue-section">
    <h2 class="section-title">¿Por qué probar Easy Home?</h2>

    <div class="block">
      <img src="/assets/icon1_section.PNG" alt="Imagen 1">
      <h3 class="block-title">Virtual, pero 100% real</h3>
      <p class="block-description">Usamos la realidad virtual para que puedas conocer la casa o el apartamento de tus sueños
        en donde quiera que estés.</p>
    </div>

    <div class="block">
      <img src="/assets/icon2_section.PNG" alt="Imagen 2">
      <h3 class="block-title">Experiencia personalizada</h3>
      <p class="block-description">Si nos cuentas un poco sobre ti, te sorprenderemos con las opciones de vivienda que
        tenemos pensadas exclusivamente para ti.</p>
    </div>

    <div class="block">
      <img src="/assets/icon3_section.PNG" alt="Imagen 3">
      <h3 class="block-title">Filtro de búsqueda</h3>
      <p class="block-description">Basa de las búsquedas complicadas. Con nosotros contarás con filtros de búsqueda que sí
        sea adaptarán a la que te gusta y quieres encontrar.</p>
    </div>

    <button class="btn btn-pink">¡Quiero saber más!</button>
  </section>


  <div class="container-section">
    <!-- Lado Derecho -->
   <div class="right-column">
    <img src="/assets/section2.PNG" alt="Imagen">
    </div>
    <!-- Lado Izquierdo -->
    <div class="left-column">
      <h2>Quiero una vivienda</h2>
      <p>Si tu intención es comprar o arrendar una vivienda, tú tranquilo, nosotros te ayudamos. Easy Home te brinda una
        experiencia personalizada que se adapta según tus gustos y que te permitirá conocer tu próximo hogar sin estar en
        él.</p>
      <button class="btn btn-pink float-right">¡Quiero saber más!</button>
    </div>
  </div>

  <div class="container-section pink-section">
    <!-- Lado Izquierdo -->
    <div class="left-column">
      <h2>Quiero vender o arrendar</h2>
      <p>Tú que tienes inmuebles a la venta o en arriendo, ponemos a tu disposición esta vitrina que se adapta a las
        necesidades de tus clientes para que el proceso sea mucho más rápido y eficiente, algo jamás antes visto.</p>
      <button class="btn float-left">¡Quiero saber más!</button>
    </div>
    <!-- Lado Derecho -->
    <div class="right-column">
      <img src="/assets/section3.PNG" alt="Imagen">
    </div>
  </div>

  <section class="banner">
    <a href="#">
      <img src="/assets/banner.PNG" alt="Banner">
    </a>
  </section>

  <app-inmueble-grid></app-inmueble-grid>

</div>
